.folders-list {
  margin-left: 20px;
}

.folder__item {
  margin-left: 10px;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.folder__icon {
  margin-right: 8px;
}

.folder_hide {
  display: none;
}
